.poke-modal {

    &__content {
        box-shadow: 3px 4px 2px #dac4c4;

        &__closed {
            width: 100%;
            display: flex;
            justify-content: end;
        }

        &__type_and_ability {
            display: flex;

            &__types, &__abilities {
                min-width: 40%;
                text-align: center;
                box-shadow: 2px 2px 2px silver;
                border-radius: 8px;
                margin-top: 10px;
                background-color:#a0bea0;
            }
    
            &__abilities {
                background-color: #98b3c0;
                margin-left: 5%;
            }
        }
 
    }
    
    &__actions {

    }
}