.navbar {
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    color: #ffcb05;
    font-weight: 700;
    background-color: #2a75bb;

    &__logo-and-title {
        display: flex;
        align-items: center;
        font-size: large;
        margin-top: 5px;
    }

    &__search {

        &__input {
            background-color: #fff;
        }
    }

    &__action {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
}